<div class="side-content">
  <div class="d-flex flex-column">
    <a
      href="/search"
      class="btn d-flex gap-2 rounded-4 mb-3"
      style="
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        padding: 0.8rem;
      "
    >
      <span class="text-secondary"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
      <span class="text-secondary">search</span>
    </a>
    <div
      class="card mb-3"
      style="
        background: rgb(22, 24, 28);

        color: rgb(231, 233, 234);
      "
    >
      <div class="card-body">
        <h2 style="font-size: 1.25rem; font-weight: 800">
          Subscribe to premium
        </h2>
        <p style="font-size: 1rem">
          Subscribe to unlock new features and if eligible, receive a share of
          ads revenue.
        </p>
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </div>
    <div
      class="card mb-3"
      style="
        background: rgb(22, 24, 28);

        color: rgb(231, 233, 234);
      "
    >
      <div class="card-body">
        <h2 style="font-size: 1.25rem; font-weight: 800">What's happening</h2>
        <div class="d-flex mb-4">
          <div class="trends d-flex flex-column">
            <span class="sub-heading text-secondary" style="font-size: 0.8rem">
              Entertainment- Trending
            </span>
            <span class="hashtag" style="font-weight: 700"
              >#TheGreastestOfAllTime</span
            >
            <span class="sub-heading text-secondary" style="font-size: 0.8rem"
              >3,894 posts</span
            >
          </div>
          <div class="ms-auto">
            <span>...</span>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="trends d-flex flex-column">
            <span class="sub-heading text-secondary" style="font-size: 0.8rem">
              Technology- Trending
            </span>
            <span class="hashtag" style="font-weight: 700">#React19</span>
            <span class="sub-heading text-secondary" style="font-size: 0.8rem"
              >5,894 posts</span
            >
          </div>
          <div class="ms-auto">
            <span>...</span>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="trends d-flex flex-column">
            <span class="sub-heading text-secondary" style="font-size: 0.8rem">
              Trending in India
            </span>
            <span class="hashtag" style="font-weight: 700">#Eid2024</span>
            <span class="sub-heading text-secondary" style="font-size: 0.8rem"
              >15,894 posts</span
            >
          </div>
          <div class="ms-auto">
            <span>...</span>
          </div>
        </div>
        <div class="d-flex">
          <div class="trends d-flex flex-column">
            <span class="sub-heading text-secondary" style="font-size: 0.8rem"
              >Trending in India</span
            >
            <span class="hashtag" style="font-weight: 700">#Heeramandi</span>
            <span class="sub-heading text-secondary" style="font-size: 0.8rem"
              >4,894 posts</span
            >
          </div>
          <div class="ms-auto">
            <span>...</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card mb-3"
      style="background: rgb(22, 24, 28); color: rgb(231, 233, 234)"
    >
      <div class="card-body">
        <h2 class="mb-3" style="font-size: 1.25rem; font-weight: 800">
          Who to Follow
        </h2>
        <div class="d-flex mb-4 gap-2 align-items-center">
          <img
            class="profile-image"
            src="/img/users/user-chyanit00-1712848060284.jpeg"
          />
          <div class="d-flex flex-column">
            <span class="fw-bold" style="font-size: 16px">Chyanit Singh</span>
            <span class="text-secondary" style="font-size: 16px"
              >@chyanit007</span
            >
          </div>
          <a
            href=""
            class="btn rounded-5 ms-auto"
            style="
              background: rgb(239, 243, 244);
              color: rgb(15, 20, 25);
              font-weight: 700;
            "
            >Follow</a
          >
        </div>
        <div class="d-flex mb-4 align-items-center gap-2">
          <img
            class="profile-image"
            src="/img/users/user-leo007-1713003564693.jpeg"
          />
          <div class="d-flex flex-column">
            <span class="fw-bold" style="font-size: 16px"
              >Leo Gillespie Smith</span
            >
            <span class="text-secondary" style="font-size: 16px">@leo007</span>
          </div>
          <a
            href=""
            class="btn rounded-5 ms-auto"
            style="
              background: rgb(239, 243, 244);
              color: rgb(15, 20, 25);
              font-weight: 700;
            "
            >Follow</a
          >
        </div>
        <div class="d-flex mb-4 align-items-center gap-2">
          <img
            class="profile-image"
            src="/img/users/user-madhu007-1713003002539.jpeg"
          />
          <div class="d-flex flex-column">
            <span class="fw-bold" style="font-size: 16px">Madhawi Singh</span>
            <span class="text-secondary" style="font-size: 16px"
              >@madhu007</span
            >
          </div>
          <a
            href=""
            class="btn rounded-5 ms-auto"
            style="
              background: rgb(239, 243, 244);
              color: rgb(15, 20, 25);
              font-weight: 700;
            "
            >Follow</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
